@import "../../styles/variables";
@import "../../styles/mixins";

@include background(dialog);

.dialog {
  padding: 4% 3%;
  box-sizing: border-box;
  min-width: 500px;

  &__container {
    padding: 4% 3%;
    background: rgba($text-color--light, 0.7);
  }

  &__title {
    font-family: $ff-secondary;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 5%;
  }
}

@media (max-width: $bp-small) {
  .dialog {
    min-width: 250px;
  }
}
